body { 
    margin: 0;
    overflow-x: hidden;
    
}

hr {
    border-style: dotted;
    border-bottom: none;
    border-width: 8px;
    width: 5%;
    margin:auto;
    color: grey;
}

h1, h2, h3, h4, p{ 
    margin-top: 0;
}

.pImage {
    
    position: relative;
    left: 300px; 
    bottom: 180px;
}

.greeting {
    
    position: relative;
    top: 250px;
    margin: 0 auto;
    right: 200px;
    width: 500px;
    color :#DBDFFD;
    text-align: left;
    
}

.intro {
    background-color: #646FD4;
    margin: 0;
    text-align: center;
    line-height: 2;
}

.projects {
    padding: 40px;
    text-align: center;
    background-color: #9BA3EB;
    color: #DBDFFD;
}

.pro{
    margin-bottom: 40px;
}

.Logo{
    height: 95px; 
}

.proHeaders{
    color: gray;
}

.leftImage{
    float: left;
    margin-right: 20px;
}


.leftDescription {
    width: 650px;
    position: relative;
    right: 250px;    
}

.leftProject{
    margin: 40px auto 40px auto;
    text-align: left;
    
}

.rightImage{
    float: right;
    margin-left: 20px;
    transform: scaleX(-1);
}

.sRightImage {
    float: right;
    margin-left: 20px;
    
}

.rightDescription {
    width: 650px;
    position: relative;
    left: 250px;    
}

.rightProject{
    margin: 0 auto 40px auto;
    text-align: left;
    
}

.skills {
    padding: 20px;
    background-color: #646FD4;
    color: #DBDFFD;
    text-align: center;
    height: 150px;
    
}

.skillImages{
    float: left;
    margin-left: 10px;
    margin-right: 26px;
    position: relative;
    bottom: 20px;
}