body{
    background-color: #E3FDFD;
}
hr{
    
    border-style: none;
    border-top: dotted white;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}

h1 , h3 {
    color: #71C9CE;
}

.circular {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}